@import "generales";
@import "variables";



*{
    padding: 0;
    margin:  0;
}

body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1{
   display: grid;
   justify-items: center;
    color: rgb(189, 121, 153);
}

h2{
    display: grid;
    justify-items:center;
    color: rgb(138, 94, 111);
}

figcaption{
display: grid;
align-items: end;
justify-items: center;
margin-bottom: 30px;
}

#combinandoOutfits{
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    color:$letra;
    font-size:$medida;
}


.ideas{
    color: rgb(216, 89, 195);
    display: grid;
    justify-content: center;
    }
#subtitulo{
    color: #696666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    margin-top: 40px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(107, 107, 107);
    background-color: rgb(255, 225, 230)
    
}   

.main-head{
    grid-area: header;
}
.contenido{
    grid-area: contenido;
}
.nav{
    grid-area: nav;
}
.galeria{
    grid-area: galeria;
}
.footer{
    grid-area: footer;
}

.fotos{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
height: 1800px;
gap: 15px;
align-items: end;
justify-items: center;
}

.puntasbloch{
    display: flex;
    margin-top: 40px;
}

.bailarina{
    border: 2px solid black;
}

.wrapper{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "nav"
    "contenido"
    "galeria"
    "footer";
}

@media (min-width:500px){
    .wrapper{
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
      "header header"
      "nav nav"
      "contenido contenido"
      "galeria galeria"
      "footer footer"
     
    }
  
    nav ul{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
    }

    iframe{
        margin-left: 150px;
    }

   
  
  
  }
  
  @media (min-width:700px){
    .wrapper{
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
      "header header header"
      "nav contenido ."
      "nav contenido ."
      "galeria galeria galeria"
      "footer footer footer";
     }
     nav ul{
       flex-direction: row;
       
     }

     iframe{
        margin-left: 100px;
    }

   
  
  }
  
  @media (min-width:920px){
  
    .fotos{
    
      display: grid;
      grid-template-columns: 1fr;
      height: auto;
      gap: 15px;
      align-items: start;
      justify-items: center;


    }
    .wrapper{
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
      "header header header"
      "nav contenido ."
      "nav contenido ."
      "galeria galeria galeria" 
      "footer footer footer";
    }
  
    img{
     border: 5px solid  rgb(248, 232, 245);
      margin-top: 20px;
    }
    .fotografias{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        background-color: rgb(197, 197, 136);
        

    }

    iframe{
        margin-left: 200px;
    }



  }
 
  p{
      color:$parrafo;
  }

  .mimundo{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 150px;

}
#acercademi{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-bottom: 40px;
    background-image: linear-gradient(to right, rgb(245, 156, 230) , rgb(169, 235, 247));
    border: 0,5px solid black;
}

#holamundo{
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

#acercademi:hover{
  transform: scale(1.4);
  transition-property: all;
  transition-duration: 2s;
}

  
.leotard0:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.5s;
}


.yomisma{
    width: 400px;
    height: 600px;
    margin-left: 200px;
}

.formulario{
    margin: 40px 50px 40px 50px; 
}

.tituloproducciones{
    color: palevioletred;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    justify-items: center;
}

.iconowpp{
        position:fixed;
        width:60px;
        height:60px;
        line-height: 63px;
        bottom:25px;
        right:25px;
        background:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:35px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        z-index:100;
        transition: all 300ms ease;
    }
  
